<div class="main-content">
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
                <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                    <img [src]="productDetail?.imageTitle | pipeHostImage" alt="">
                </div>
                <div class="m-l-15">
                    <h4 class="m-b-0">{{productDetail?.name}}</h4>
                    <p class="text-muted m-b-0">Code: {{productDetail?.id}}</p>
                </div>
            </div>
            <!-- <div class="m-b-15">
                <a (click)="editProduct(productDetail.id) " style="color:white ;" class="btn btn-primary">
                    <i class="anticon anticon-edit"></i>
                    <span>Sửa sản phẩm</span>
                </a>
            </div> -->
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-overview">Thông tin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-images">Hình ảnh</a>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="tab-content m-t-15">
            <div class="tab-pane fade show active" id="product-overview">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <i class="font-size-40 text-success anticon anticon-smile"></i>
                                    <div class="m-l-15">
                                        <p class="m-b-0 text-muted">10 Đánh giá</p>
                                        <div class="star-rating m-t-5">
                                            <input type="radio" id="star3-5" name="rating-3" value="5" checked disabled/><label for="star3-5" title="5 star"></label>
                                            <input type="radio" id="star3-4" name="rating-3" value="4" disabled/><label for="star3-4" title="4 star"></label>
                                            <input type="radio" id="star3-3" name="rating-3" value="3" disabled/><label for="star3-3" title="3 star"></label>
                                            <input type="radio" id="star3-2" name="rating-3" value="2" disabled/><label for="star3-2" title="2 star"></label>
                                            <input type="radio" id="star3-1" name="rating-3" value="1" disabled/><label for="star3-1" title="1 star"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <i class="font-size-40 text-primary anticon anticon-shopping-cart"></i>
                                    <div class="m-l-15">
                                        <p class="m-b-0 text-muted">Đã bán</p>
                                        <h3  class="m-b-0 ls-1">{{daban}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <i class="font-size-40 text-primary anticon anticon-message"></i>
                                    <div class="m-l-15">
                                        <p class="m-b-0 text-muted">Nhận xét</p>
                                        <h3 class="m-b-0 ls-1">{{coutComment}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <i class="font-size-40 text-primary anticon anticon-stock"></i>
                                    <div class="m-l-15">
                                        <p class="m-b-0 text-muted">Tồn kho</p>
                                        <h3 class="m-b-0 ls-1">{{productDetail?.inventory}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Thông tin cơ bản</h4>
                        <div class="table-responsive">
                            <table class="product-info-table m-t-20">
                                <tbody>
                                    <tr>
                                        <td>Giá bán:</td>
                                        <td class="text-dark font-weight-semibold">{{productDetail?.price}}</td>
                                    </tr>
                                    <tr>
                                        <td>Giá nhập:</td>
                                        <td>{{productDetail?.priceInput}}</td>
                                    </tr>
                                    <tr>
                                        <td>Giảm giá:</td>
                                        <td>{{productDetail?.sale}}%</td>
                                    </tr>
                                    <tr>
                                        <td>Bảo hành:</td>
                                        <td>{{productDetail?.insurance}} Tháng</td>
                                    </tr>
                                    <tr>
                                        <td>Phụ kiện:</td>
                                        <td>
                                            {{productDetail?.accessory}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Danh mục:</td>
                                        <td>
                                            {{productDetail?.categoryName}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Hãng sản xuất:</td>
                                        <td> {{productDetail?.supplierName}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Thông tin thêm</h4>
                        <div class="table-responsive">
                            <table class="product-info-table m-t-20">
                                <tbody>
                                    <tr>
                                        <td>Cảm biến:</td>
                                        <td>{{productDetail?.sensor}}</td>
                                    </tr>
                                    <tr>
                                        <td>Bộ xử lý ảnh:</td>
                                        <td>
                                            {{productDetail?.imageProcessor}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Màn hình:</td>
                                        <td>{{productDetail?.screen}}</td>
                                    </tr>
                                    <tr>
                                        <td>ISO:</td>
                                        <td>{{productDetail?.iso}}</td>
                                    </tr>
                                    <tr>
                                        <td>Tốc độ màn chụp:</td>
                                        <td>{{productDetail?.shutterSpeed}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Nội dung sản phẩm</h4>
                    </div>
                    <div class="card-body" [innerHTML]="productDetail?.description">

                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="product-images">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3" *ngFor="let item of productDetail?.pictures">
                                <img class="img-fluid" [src]="item.image | pipeHostImage" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>