<div class="main-content">
    <div class="page-header">
      
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            
                <span class="breadcrumb-item active">Danh sách đơn hàng</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
           
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Khách hàng</th>
                            <th>Ngày tạo</th>
                            <th>Thành tiền</th>
                            <th>Trạng thái</th>
                            <th>Thanh toán</th>
                            <th class="text-center">Cập nhật</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataTables  | paginate: { itemsPerPage: 6, currentPage: p }">
                            <td>
                                #{{item.orderCode}}
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <h6 class="m-b-0">{{item.fullName}}</h6>
                                </div>
                            </td>
                            <td>{{item.createDate}}</td>
                            <td>{{item.totalCost|number}} VNĐ</td>
                            <td *ngIf="item.transacStatus==1">
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-warning badge-dot m-r-10"></div>
                                    <div>Chờ lấy hàng</div>
                                </div>
                            </td>
                            <td *ngIf="item.transacStatus==2">
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-danger badge-dot m-r-10"></div>
                                    <div>Đang vận chuyển</div>
                                </div>
                            </td>
                            <td *ngIf="item.transacStatus==3">
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <div>Đã nhận hàng</div>
                                </div>
                            </td>
                            <td *ngIf="item.paymentId==1">
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <div>Tiền mặt</div>
                                </div>
                            </td>
                            <td *ngIf="item.paymentId==2">
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-danger badge-dot m-r-10"></div>
                                    <div>Chuyển khoản</div>
                                </div>
                            </td>
                            <td  class="text-center">
                                <button [disabled]="item.transacStatus ==3" class="btn btn-danger" (click)="updateStatus(item.id,item.transacStatus)">Cập nhật trạng thái</button>
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
       <!-- pagging -->
       <div class="col-sm-12 col-md-7 ">
        <pagination-controls (pageChange)="p=$event "></pagination-controls>
    </div>
</div>