<div style="margin-top: 20px; border:solid 1px rgb(203, 198, 198) ;" *ngIf="product != null">
    <nz-card  nzHoverable [nzCover]="coverTemplate">
        <div text-align="center">
            <div style="text-align: center;" class="product-name">
                <a style="text-decoration: none !important; " routerLink="/san-pham/{{product.id}}">
                   <b style="color: red;"> {{product.name}}</b>
                </a>
            </div>
            <div class="product-price">
                <div class="product-unit-price">
                    {{product.price | number}} ₫
                </div>
                <div class="product-price-discount">
                    {{(product.price * (100 - product.sale)) / 100 | number}} ₫
                </div>
            </div>
            <div style="  text-align: center;" (click)="addToCart()" >
                <!-- <span>
                    Thêm vào giỏ
                </span> -->
                <button type="button" class="btn btn-warning">Mua hàng</button>
            </div>
        </div>
    </nz-card>
    <ng-template #coverTemplate>
        <div class="box-product-image">
            <a routerLink="/san-pham/{{product.id}}">
                <img [src]="product.image | hostImageClient" />
            </a>
        </div>
    </ng-template>
</div>
