/* .side-nav .side-nav-inner {
    position: relative;
    height: 100%;
}
.side-nav .side-nav-inner .side-nav-menu {
    position: relative;
    list-style: none;
    margin: 0;
    padding-left: 0;
    overflow: auto;
    border-right: 1px solid #edf2f9;
    height: calc(100vh - 70px);
} */