<div class="main-content">
    <div class="page-header">

        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="avatar avatar-icon avatar-lg avatar-blue">
                                <i class="anticon anticon-dollar"></i>
                            </div>
                            <div class="m-l-15">
                                <h2 class="m-b-0">{{RevenueStatisticByDay?.turnover|number}} VNĐ</h2>
                                <p class="m-b-0 text-muted">Doanh thu (Ngày)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="avatar avatar-icon avatar-lg avatar-cyan">
                                <i class="anticon anticon-line-chart"></i>
                            </div>
                            <div class="m-l-15">
                                <h2 class="m-b-0">{{RevenueStatisticByDay?.profit|number}} VNĐ</h2>
                                <p class="m-b-0 text-muted">Lợi nhuận (Ngày)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="avatar avatar-icon avatar-lg avatar-gold">
                                <i class="anticon anticon-profile"></i>
                            </div>
                            <div class="m-l-15">
                                <h2 class="m-b-0">{{RevenueStatisticByDay?.coutOrder}}</h2>
                                <p class="m-b-0 text-muted">Đơn hàng (Ngày)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="avatar avatar-icon avatar-lg avatar-purple">
                                <i class="anticon anticon-user"></i>
                            </div>
                            <div class="m-l-15">
                                <h2 class="m-b-0">32</h2>
                                <p class="m-b-0 text-muted">Khách hàng</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5>Tổng doanh thu</h5>
                            <div>
                                <div class="btn-group">
                                    <button [ngStyle]="{ 'background': mycolorMonth }" class="btn btn-default" (click)="handleBenefitMonth(1)">
                                        <span>Tháng</span>
                                    </button>
                                    <button [ngStyle]="{ 'background': mycolorYear }" class="btn btn-default" (click)="handleBenefitYear(2)">
                                        <span>Năm</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="" style="height: auto">
                            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                                [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                                [chartType]="lineChartType" [plugins]="lineChartPlugins">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <h3 style="color: blue;">&nbsp; Danh sách sản phẩm sắp hết hàng</h3>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Sản phẩm</th>
                                        <th scope="col">Hãng sản xuất</th>
                                        <th scope="col">Danh mục</th>
                                        <th scope="col">Kho</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of productStock">
                                        <td>{{item.name}}</td>
                                        <td>{{item.supplierName}}</td>
                                        <td>{{item.categoryName}}</td>
                                        <td *ngIf="item.inventory>0">{{item.inventory}}</td>
                                        <td *ngIf="item.inventory==0">Hết hàng</td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 style="color: blue;">Top 5 sản phẩm bán chạy tháng </h5>
                            
                        </div>
                        <div class="m-t-30">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item p-h-0" *ngFor="let item of topProduct">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-flex">
                                            <div class="avatar avatar-image m-r-15">
                                                <img [src]="item.image| pipeHostImage" alt="">
                                            </div>
                                            <div>
                                                <h6 class="m-b-0">
                                                    <a href="javascript:void(0);" class="text-dark"> {{item.name}}</a>
                                                </h6>
                                                <b class="text-muted font-size-13">{{item.categoryName}}</b>
                                            </div>
                                        </div>
                                        <span class="badge badge-pill badge-cyan font-size-12">
                                            <span class="font-weight-semibold m-l-5">{{item.coutProductSale}} Cái</span>
                                        </span>
                                    </div>
                                </li>
                              
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>