<div class="mg-t-md mg-b-lg">
  <div class="container">
    <div nz-row>
      <div nz-col nzSpan="24" style="margin-bottom: 20px">
        <h2>
          Tài khoản của tôi
          <a
            routerLink="/dang-xuat"
            class="mg-r"
            style="float: right"
            nz-button
            nzSize="small"
            nzType="primary"
            nzDanger
          >
            Đăng xuất
          </a>
        </h2>
        <div>Quản lý thông tin hồ sơ để bảo mật tài khoản</div>
      </div>
      <div nz-col nzSpan="24">
        <div style="min-height: 400px">
          <nz-tabset nzTabPosition="left">
            <nz-tab (nzClick)="getProfile()" nzTitle="Thông tin cá nhân">
              <div style="overflow: auto">
                <form nz-form [formGroup]="formData">
                  <div class="mg-b">
                    <nz-form-item>
                      <nz-form-label nzSpan="4">Email </nz-form-label>
                      <h5>{{ profile?.email }}</h5>
                    </nz-form-item>
                  </div>
                  <div class="mg-b">
                    <nz-form-item>
                      <nz-form-label nzSpan="4" nzRequired
                        >Họ và tên
                      </nz-form-label>
                      <h5>{{ profile?.fullName }}</h5>
                    </nz-form-item>
                  </div>
                  <div class="mg-b">
                    <nz-form-item>
                      <nz-form-label nzSpan="4" nzRequired
                        >Số điện thoại
                      </nz-form-label>
                      <h5>{{ profile?.phone }}</h5>
                    </nz-form-item>
                  </div>
                  <div class="mg-b">
                    <nz-form-item>
                      <nz-form-label nzSpan="4" nzRequired
                        >Hạng thành viên
                      </nz-form-label>
                      <h5>
                        {{ customerRank }} - Ưu đãi cho đơn hàng thanh toán là
                        {{ dissCount }}%
                      </h5>
                    </nz-form-item>
                  </div>
                  <div class="mg-b">
                    <nz-form-item>
                      <nz-form-label nzSpan="4" nzRequired
                        >Tổng số đơn hàng đã mua
                      </nz-form-label>
                      <h5>&nbsp;{{ profile?.coutOrder }} Đơn hàng</h5>
                    </nz-form-item>
                  </div>
                  <div class="mg-b">
                    <nz-form-item>
                      <nz-form-label nzSpan="4" nzRequired
                        >Tổng tiền đã thanh toán
                      </nz-form-label>
                      <h5>{{ profile?.totalPrice | number }} VNĐ</h5>
                    </nz-form-item>
                  </div>
                </form>
              </div>
            </nz-tab>
            <nz-tab nzTitle="Đơn mua hàng">
              <div style="overflow: auto">
                <nz-table>
                  <thead>
                    <tr>
                      <th>STT</th>
                      <th>Đơn hàng</th>
                      <th>Ngày đặt</th>
                      <th>Giá</th>
                      <th>Trạng thái</th>
                      <th>Cập nhật trạng thái</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of orders; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ data.orderCode }}</td>
                      <td>{{ data.createDate | date: "dd-MM-yyyy, H:MM" }}</td>
                      <td>{{ data.totalCost | number }} VNĐ</td>
                      <td *ngIf="data.transacStatus == 1">
                        <nz-tag [nzColor]="'red'">Chờ lấy hàng</nz-tag>
                      </td>
                      <td *ngIf="data.transacStatus == 2">
                        <nz-tag [nzColor]="'cyan'">Đang vận chuyển</nz-tag>
                      </td>
                      <td *ngIf="data.transacStatus == 3">
                        <nz-tag [nzColor]="'green'">Đã nhận hàng</nz-tag>
                      </td>
                      <td style="text-align: center">
                        <button
                          (click)="updateStatus(data.id, data.transacStatus)"
                          [disabled]="data.transacStatus != 2"
                          nz-button
                          nzType="default"
                          nzDanger
                        >
                          Nhận hàng
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
            </nz-tab>
          </nz-tabset>
        </div>
      </div>
    </div>
  </div>
</div>
