<div class="main-content">
    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
                <span class="breadcrumb-item active">Tạo mới Mã  giảm giá</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">    
                <form [formGroup]="myForm">
                    <div class="row">
                        <div class="form-group col-sm-6 ">
                            <label class="font-weight-semibold" for="productPrice">Mã giảm giá</label>
                            <input formControlName="codeName"  type="text" class="form-control" id="nameCode" placeholder="Mã giảm giá" >
                        </div>
                        <div class="form-group col-sm-6 ">
                            <label class="font-weight-semibold" for="productPrice">Giá trị (%)</label>
                            <input  formControlName="valueCode"type="number" class="form-control" id="valueCode" placeholder="Giá trị">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-sm-6 ">
                            <label class="font-weight-semibold" for="productPrice">Ngày bắt đầu</label>
                            <input formControlName="startDateCode" type="date" class="form-control" id="startDate" placeholder="Ngày bắt đầu" value="">
                        </div>
                        <div class="form-group col-sm-6 ">
                            <label class="font-weight-semibold" for="productPrice">Ngày kết thúc</label>
                            <input formControlName="endDateCode" type="date" class="form-control" id="endDate " placeholder="Ngày kết thúc" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6 ">
                            <input formControlName="isDelete" id="isDeleted" type="checkbox" id="vehicle1" name="vehicle1">
                            &nbsp;
                            <label for="vehicle1"><b>Sử dụng nhiều lần</b></label><br>
                           </div>
                        <div class="form-group col-sm-6 ">
                        </div>
                    </div>
                    <button (click)="onSubmit()" type="submit" class="btn btn-primary">Lưu</button>
                </form>
            </div>
    </div>
</div>