<div class="container-fluid">
  <div class="box-breadcrumb">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a routerLink="/">Trang chủ</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item> Giỏ hàng </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <div>
    <ng-container *ngIf="orderDetail?.length == 0; else elseTemplate">
      <div nz-row>
        <div nz-col nzSpan="24">
          <div class="text-center mg-b">
            <h3 style="color: red">Không có sản phẩm trong giỏ hàng</h3>
          </div>
          <div class="text-center">
            <a routerLink="/" nz-button nzDanger nzType="primary"
              >Quay lại trang chủ</a
            >
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div nz-row>
        <div nz-col nzLg="17" nzMd="24" nzSm="24" nzXs="24" class="mg-b">
          <div class="mg-b">
            <h3 class="text-center">Thông tin giỏ hàng</h3>
          </div>
          <div style="overflow-x: none">
            <table *ngIf="orderDetail != null" class="table table-bordered">
              <thead>
                <tr style="background: #f4f4f4">
                  <th></th>
                  <th>Sản phẩm</th>
                  <th>Đơn giá</th>
                  <th>Số lượng</th>
                  <th>Thành tiền</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let product of orderDetail">
                  <tr>
                    <td style="text-align: center">
                      <a href="" (click)="delete(product)"
                        ><i nz-icon nzType="delete" nzTheme="outline"></i
                      ></a>
                    </td>
                    <td rowSpan="1" class="text-center">
                      <img
                        [src]="product.image | hostImageClient"
                        style="
                          width: 50px;
                          border: 1px solid #dcdcdc;
                          padding: 1px;
                          min-width: 50px;
                        "
                      />
                      &nbsp;<b>{{ product.productName }}</b>
                    </td>

                    <td class="text-right">
                      <b>
                        {{
                          (product.price * (100 - product.sale)) / 100 | number
                        }}
                        ₫
                      </b>
                    </td>
                    <td>
                      <nz-input-number
                        (ngModelChange)="
                          product.quantity = $event; updateCart()
                        "
                        [ngModel]="product.quantity"
                        [nzMin]="0"
                        nzSize="small"
                        [nzStep]="1"
                      >
                      </nz-input-number>
                    </td>
                    <td class="text-right">
                      <b>
                        {{
                          ((product.price * (100 - product.sale)) / 100) *
                            product.quantity | number
                        }}
                        ₫
                      </b>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            <div class="row">
              <nz-form-item style="margin-top: 10px !important">
                <nz-form-label [nzSpan]="3">Mã giảm giá </nz-form-label>
                <nz-form-control [nzSpan]="6">
                  <input
                    nz-input
                    #capoun
                    type="text"
                    placeholder="Mã khuyến mại"
                    (keyup.enter)="addKhuyenMai(capoun)"
                  />
                </nz-form-control>
                <nz-form-control [nzSpan]="7">
                  <button
                    nz-button
                    nzType="primary"
                    nzDanger
                    (click)="addKhuyenMai(capoun)"
                  >
                    Mã giảm giá
                  </button>
                </nz-form-control>
                <nz-form-control [nzSpan]="8" *ngIf="maKhuyenMai != ''">
                  <b class="myKhuyenMai alert-success"
                    >{{ maKhuyenMai | uppercase }} - Giảm {{ valueCode }}%</b
                  >
                  &nbsp;
                  <a (click)="huyKhuyenMai()" style="color: blue" type="button"
                    >Hủy</a
                  >
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <div class="text-center mg-t">
            <a routerLink="/" nz-button nzType="primary">Tiếp tục mua hàng</a>
          </div>
        </div>
        <div
          nz-col
          nzLg="7"
          nzMd="24"
          nzSm="24"
          nzXs="24"
          style="overflow: none !important"
        >
          <div>
            <h3 class="text-center">Thông tin Thanh toán</h3>
          </div>
          <div style="padding: 0 10px">
            <form nz-form [formGroup]="formData">
              <table class="table">
                <tbody>
                  <tr>
                    <td style="width: 150px">Tổng tiền</td>
                    <td>{{ tongTien | number }} ₫</td>
                  </tr>
                  <tr>
                    <td>Phí vận chuyển</td>
                    <td>30.000 VNĐ</td>
                  </tr>
                  <tr>
                    <td>Tổng tiền Thanh toán</td>
                    <td>{{ tongTienThanhToan | number }} ₫</td>
                  </tr>

                  <tr>
                    <td colspan="2" class="text-center">
                      <button
                        type="submit"
                        (click)="handleCheckout()"
                        nz-button
                        nzType="primary"
                        [nzLoading]="nzLoading"
                      >
                        Đặt hàng
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
