<div class="main-content">
    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
                <span class="breadcrumb-item active">Danh sách Mã  giảm giá</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row m-b-30">
                <div class="col-lg-8">
                    <div class="d-md-flex">
                        <div class="m-b-10">
                            <select class="custom-select" style="min-width: 180px;">
                                <option selected>Status</option>
                                <option value="all">All</option>
                                <option value="approved">Approved</option>
                                <option value="pending">Pending</option>
                                <option value="rejected">Rejected</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-right">
                    <a [routerLink]="['/admin/salecode/create']" routerLinkActive="router-link-active" class="btn btn-primary">
                        <i class="anticon anticon-file-excel m-r-5"></i>
                        <span style="color:white ;">Tạo mới</span>
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                            <th>Mã Code</th>
                            <th>Giảm giá</th>
                            <th>Ngày bắt đầu</th>
                            <th>Ngày kết thúc</th>
                            <th>Loại Giảm giá</th>
                            <th style="text-align:center">Cập nhật</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataTables">
                          
                            <td>{{item.codeName}}</td>
                            <td>{{item.valueCode}}</td>
                            <td>{{item.startDateCode}}</td>   
                            <td>{{item.endDateCode}}</td>    
                            <td *ngIf="item.isDelete==true">Nhiều lần</td>  
                            <td *ngIf="item.isDelete==false">Một lần</td>     
                            <td  class="text-center">
                                <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                    <i class="anticon anticon-info-circle"></i>
                                </button>
                                <a  [routerLink]="['/admin/salecode/update']" routerLinkActive="router-link-active"  class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                    <i  class="anticon anticon-edit"></i>
                                </a>
                                <a (click)="deleteSaleCode(item.id)" class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                    <i class="anticon anticon-delete"></i>
                                </a>
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>