<div class="app">
    <div class="container-fluid p-h-0 p-v-20 bg full-height d-flex" style="background-image: url('assets/images/others/login-3.png')">
        <div class="d-flex flex-column justify-content-between w-100">
            <div class="container d-flex h-100">
                <div class="row align-items-center w-100">
                    <div class="col-md-7 col-lg-5 m-h-auto">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between m-b-30">
                                    <img class="img-fluid" alt="" src="assets/images/logo/logo.png">
                                    <h2 class="m-b-0">Đăng nhập</h2>
                                </div>
                                <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="userName">Tên đăng nhập:</label>
                                        <div class="input-affix">
                                            <i class="prefix-icon anticon anticon-user"></i>
                                            <input type="text" class="form-control" id="userName" placeholder="Tên đăng nhập"  formControlName="username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="password">Mật khẩu:</label>
                                        <a class="float-right font-size-13 text-muted" href="">Quên mật khẩu?</a>
                                        <div class="input-affix m-b-10">
                                            <i class="prefix-icon anticon anticon-lock"></i>
                                            <input type="password" class="form-control" id="password" placeholder="Mật khẩu"  formControlName="password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span class="font-size-13 text-muted">
                                                Don't have an account? 
                                                <a class="small" href=""> Đăng ký</a>
                                            </span>
                                            <button class="btn btn-primary">Đăng nhập</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-md-flex p-h-40 justify-content-between">
                <span class="">© 2022 NHOSON</span>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-dark text-link" href="">Dinh</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-dark text-link" href="">NhoSOn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>