<div *ngIf="product != null" class="container">
    <div class="box-breadcrumb">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a routerLink="/">Trang chủ</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                {{product.name}}
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div>
        <div nz-row>
            <div nz-col nzMd="8" nzSm="24">
                <img [src]="product.image | hostImageClient" class="thumbnail" />
                <div class="box-product-detail-carousel">
                    <carousel [cellsToShow]="5" [height]="50">
                        <ng-container *ngFor="let productImage of product.images">
                            <div (click)="showImg(productImage.image)" id="imageMore" class="carousel-cell">
                                <img [src]="productImage.image | hostImageClient" class="thumbnail">
                            </div>
                        </ng-container>
                    </carousel>
                </div>
            </div>
            <div nz-col nzMd="16" nzSm="24">
                <div class="box-product-detail">
                    <div class="product-detail-name">
                        <span>{{product.name}}</span>
                    </div>
                    <div class="product-detail-rate">
                        <p *ngIf="product.kho>0" style="color: red;">Kho : {{product.kho}} Sản phẩm</p>
                        <p *ngIf="product.kho<=0" style="color: red;">Hết hàng</p>
                    </div>
                    <div>
                        <span class="product-detail-price">{{product.oldPrice |number }} VNĐ </span>
                        <span *ngIf="product.oldPrice!=product.newPrice" class="product-detail-price-discount">{{product.newPrice |number }} VNĐ</span>
                    </div>
                    <div class="product-detail-short-desc">
                        <h3>Thông tin nổi bật</h3>
                        <p>Danh mục : {{product.categoryName}}</p>
                        <p>Hãng sản xuất : {{product.companyName}}</p>
                        <p>Phụ kiện : {{product.accessory}}</p>
                        <p>Bảo hành : {{product.insurance}} Tháng</p>
                        <p>Kích thức màn hình : {{product.screen}} inh</p>

                    </div>

                    <div class="mybutton">

                        <button type="button" (click)="addToCart()" class="btn btn-warning">Thêm giỏ hàng</button>
                        <button type="button" (click)="buyNow() " class="btn btn-success muangay">Mua ngay</button>

                    </div>
                </div>
            </div>
            <div nz-col nzMd="24 " nzSm="24 " class="box-product-detail-comment ">
                <div>
                    <nz-tabset>
                        <nz-tab nzTitle="CHI TIẾT SẢN PHẨM ">
                            <div nz-col nzSpan="12" nzOffset="6" [innerHTML]="product.description"> </div>
                        </nz-tab>
                        <nz-tab nzTitle="ĐÁNH GIÁ ">
                            <nz-list [nzDataSource]="this.listComment" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
                                <ng-template #item let-item>
                                    <nz-comment [nzAuthor]="item.fullName" [nzDatetime]="item.commnetTime | date: 'dd-MM-yyyy hh:mm'">
                                        <nz-comment-content>
                                            <p>{{ item.commnentText }}</p>
                                        </nz-comment-content> 
                                    </nz-comment>
                                </ng-template>
                            </nz-list>

                            <nz-comment>
                                <nz-comment-content>
                                    <nz-form-item>
                                        <textarea [(ngModel)]="inputValue" (keyup.enter)="handleSubmit()" nz-input rows="1"></textarea>
                                    </nz-form-item>
                                </nz-comment-content>
                            </nz-comment>
                            <div class="box-comment " *ngFor="let review of product.Reviews ">
                                <div class="box-comment-rate ">
                                    <nz-rate [ngModel]="review.Star " nzDisabled></nz-rate>
                                    <span>
                                        <small>{{review.Created | date: 'HH:mm dd-MM-yyyy'}}</small>
                                        -
                                        <span>{{review.CreatedBy}}</span>
                                    </span>
                                </div>
                                <div class="box-comment-context ">
                                    {{review.Content}}
                                </div>
                            </div>
                        </nz-tab>
                    </nz-tabset>
                </div>
            </div>
        </div>
    </div>
    <div class="box-product-related ">
        <h3 class="title-border-right ">SẢN PHẨM LIÊN QUAN</h3>
        <div nz-row>
            <div nz-col nzSpan="4-8 " *ngFor="let productRelated of product.ProductRelateds ">
                <app-product-template [product]="productRelated.Product "></app-product-template>
            </div>
        </div>
    </div>
</div>