[nz-form] {
    max-width: 600px;
}

.phone-select {
    width: 70px;
}

.register-are {
    margin-bottom: 8px;
}

.shipping-address-none {
    display: none;
}

.shipping-address-block {
    display: block;
}
#payment-1{
    margin-top: 10px;
}
#payment-2{
    margin-top: 10px;
}
.payment-2-show{
    display: none;
}