<div class="container" style="margin-top: 15px">
    <div nz-row>
        <div nz-col [nzLg]="12" nzSpan="9">
            <div>
                <nz-card [nzBordered]="true">
                    <h2>Thông tin thanh toán</h2>
                    <form nz-form [formGroup]="currentUserForm">
                        <nz-form-item>
                            <nz-form-label [nzLg]="7" nzRequired nzAlign="center">Họ Và Tên</nz-form-label>
                            <nz-form-control [nzSpan]="20">
                                <input  nz-input formControlName="fullName" />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item style="margin-top: 5px !important">
                            <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
                            <nz-form-control [nzSpan]="20">
                                <input disable nz-input formControlName="email" />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item style="margin-top: 5px !important">
                            <nz-form-label [nzSpan]="7" nzRequired>Số điện thoại</nz-form-label>
                            <nz-form-control [nzSpan]="20">
                                <input disable nz-input formControlName="phone" />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item style="margin-top: 5px !important">
                            <nz-form-label [nzSpan]="7" nzRequired>Địa chỉ giao hàng</nz-form-label>
                            <nz-form-control [nzSpan]="20">
                                <input nz-input formControlName="address" />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item style="margin-top: 5px !important">
                            <input type="checkbox" class="custom-control-input" [(ngModel)]="checkBlock"
                                name="checkBlock" id="shipto" (click)="myFunction()" style="margin-top: 4px;" />
                            <label class=" custom-control-label " for="shipto " style="margin-left: 10px">Chọn địa
                                chỉ giao hàng
                                khác</label>
                        </nz-form-item>
                    </form>
                </nz-card>
                <nz-card [nzBordered]="true " id="mytext" [class.shipping-address-block]="checkBlock"
                    class="shipping-address-none">
                    <h2>Địa chỉ thanh toán khác</h2>
                    <form nz-form [formGroup]="currentUserForm2">
                        <nz-form-item>
                            <nz-form-label [nzLg]="7 " nzRequired nzAlign="center ">Họ Và Tên</nz-form-label>
                            <nz-form-control [nzLg]="20">
                                <input nz-input formControlName="fullName1" id="captcha " />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item style="margin-top: 5px !important ">
                            <nz-form-label [nzSpan]="7 " nzRequired>E-mail</nz-form-label>
                            <nz-form-control [nzSpan]="20">
                                <input nz-input formControlName="email1" id="captcha " />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item style="margin-top: 5px !important ">
                            <nz-form-label [nzSpan]="7 " nzRequired>Số điện thoại</nz-form-label>
                            <nz-form-control [nzSpan]="20">
                                <input nz-input formControlName="phone1" id="captcha " />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item style="margin-top: 5px !important ">
                            <nz-form-label [nzSpan]="7 " nzRequired>Địa chỉ giao hàng</nz-form-label>
                            <nz-form-control [nzSpan]="20">
                                <input nz-input formControlName="address1" id="captcha " />
                            </nz-form-control>
                        </nz-form-item>
                    </form>
                </nz-card>

            </div>


        </div>
        <div nz-col [nzLg]="12" nzSpan="3">
            <div style="background: #ECECEC;padding:30px; ">
                <nz-card [nzBordered]="true ">
                    <h2>Thanh toán</h2>
                    <form nz-form>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="7 " nzRequired>Mã đơn hàng</nz-form-label>
                            <nz-form-control [nzSpan]="20">
                                <label style="color: red;">{{maDH}}</label>
                            </nz-form-control>
                        </nz-form-item>
                        <hr />
                        <nz-form-item>
                            <nz-form-label [nzSpan]="7 " nzRequired>Thành tiền</nz-form-label>
                            <nz-form-control [nzSpan]="20 ">
                                <label>{{thanhTien|number}} VNĐ</label>
                            </nz-form-control>
                        </nz-form-item>
                        <hr />
                        <nz-form-item>
                            <nz-form-label [nzSpan]="7 " nzRequired>Hạng thành viên </nz-form-label>
                            <nz-form-control [nzSpan]="20 ">
                                <label>{{customerRank}}</label>
                            </nz-form-control>
                        </nz-form-item>
                        <hr />
                        <nz-form-item>
                            <nz-form-label [nzSpan]="7 " nzRequired>Giảm giá</nz-form-label>
                            <nz-form-control [nzSpan]="20 ">
                                <label *ngIf="dissCount!=0">{{dissCount}} %</label>
                                <br>
                                <label *ngIf="dissCount==0">Chưa có giảm giá</label>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="7 " nzRequired>Tổng tiền thanh toán</nz-form-label>
                            <nz-form-control [nzSpan]="20 ">
                                <label>{{tienThanhToanCuoiCung|number}} VNĐ</label>
                            </nz-form-control>
                        </nz-form-item>

                    </form>
                </nz-card>
                <nz-card [nzBordered]="true " style="margin-top: 12px ">
                    <h2>Phương thức thanh toán</h2>
                    <form [formGroup]="radioForm">
                        <nz-radio-group formControlName="radiostatus" [(ngModel)]="radioValue"
                            (ngModelChange)="onChangeStatus($event)">
                            <label nz-radio nzValue="passed">Thanh toán trực tiếp</label>
                            <label nz-radio nzValue="failed">Chuyển khoản</label>
                        </nz-radio-group>
                        <div *ngIf="radioValue === 'failed'">
                            <p>
                                (Nội dung chuyển khoản ghi mã đơn hàng cần thanh toán)
                            </p>
                            <img style="margin-left: 200px;" nz-image width="150px" height="150px"
                                nzSrc="../../../../assets/imgs/qrcode.png" alt="" />
                        </div>
                    </form>
                </nz-card>
                <button nz-button nzSpan="20 " style="width: 100% !important; margin-top: 10px " (click)="onSubmit()"
                    nzType="primary">Đặt
                    hàng</button>

            </div>
        </div>
    </div>
</div>