<div class="webclient">
    <header>
        <div class="top-banner">
            <img alt="" src="../../../../assets/imgs/banber.png">
        </div>
        <div class="header-top-search">
            <div class="container">
                <div class="header-logo">
                    <a routerLink="/">
                        <img src="../../../../assets/imgs/logo1.png" alt="">
                    </a>
                </div>
                <div>
                    <nz-input-group [nzSuffix]="suffixTemplateInfo" class="input-search">
                        <input (keyup.enter)="search()" [(ngModel)]="keySearch" type="text" nz-input placeholder="Tìm kiếm..." />
                    </nz-input-group>
                    <ng-template #suffixTemplateInfo>
                        <i nz-icon nzType="search"></i>
                    </ng-template>
                </div>
                <div class="header-user">
                    <a routerLink="/gio-hang">
                        <nz-badge [nzCount]="getQtyItemInCart">
                            <i nz-icon nzType="shopping-cart" nzTheme="outline"></i>
                        </nz-badge>
                    </a>
                   
                    <a nz-dropdown [nzDropdownMenu]="menu"><i nz-icon nzType="user" nzTheme="outline"></i></a>
                    <nz-dropdown-menu #menu="nzDropdownMenu" >
                      <ul nz-menu *ngIf="currentUser==null" >
                        <li nz-menu-item> 
                            <a [routerLink]="['/dang-nhap']" routerLinkActive="router-link-active"  class="dropdown-item">ĐĂNG NHẬP</a>
                        </li>
                        <li nz-menu-item><a [routerLink]="['/dang-ky-tai-khoan']" routerLinkActive="router-link-active"  class="dropdown-item">ĐĂNG KÝ</a>
                        </li>
                      </ul>
                      <ul nz-menu *ngIf="currentUser!=null" >
                        <li nz-menu-item> 
                            <a [routerLink]="['/profile']" routerLinkActive="router-link-active"  class="dropdown-item"><b style="color: blue;">{{currentUser.fullName}}</b></a>
                        </li>
                        <li nz-menu-item><a [routerLink]="['/dang-xuat']" routerLinkActive="router-link-active" routerLink="/dang-xuat" routerLinkActive="router-link-active" class="dropdown-item">ĐĂNG XUẤT</a>
                        </li>
                      </ul>
                    </nz-dropdown-menu>
                </div>
            </div>
        </div>
        <div class="header-menu">
            <div class="container">
                <ul nz-menu nzMode="horizontal">
                    <ng-container *ngFor="let menu of mainMenus">
                        <ng-container>
                            <li nz-menu-item>
                                <a style="text-decoration: none !important;" rel="noopener noreferrer" routerLink="/{{menu.id}}">
                                    {{menu.categoryName}}
                                </a>
                            </li>
                        </ng-container>  
                    </ng-container>
                </ul>
            </div>
        </div>
    </header>
    <div>
        <router-outlet></router-outlet>
    </div>
    <footer>
        <div class="footer-top">
            <div class="container">
                <div nz-row>
                    <div nz-col nzMd="8" nzXs="24" nzSpan="8">
                        <img>
                        <div class="mg-t">
                           
                        </div>
                    </div>
                    <div nz-col nzMd="4" nzXs="24" nzSpan="4">
                        <h3>Thông tin</h3>
                       
                    </div>
                    <div nz-col nzMd="6" nzXs="24" nzSpan="6">
                        <h3>Thông tin liên hệ</h3>
                       
                    </div>
                    <div nz-col nzMd="6" nzXs="24" nzSpan="6">
                        <h3>Đăng ký nhận tin</h3>
                        <div>
                            <form nz-form [formGroup]="formRegistration">
                                <nz-form-item>
                                    <nz-form-control nzErrorTip="Không được để trống!">
                                        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                                            <input formControlName="Email" type="text" nz-input placeholder="Email" />
                                        </nz-input-group>
                                        <ng-template #suffixIconButton>
                                            <button type="submit" nz-button nzType="primary" nzSearch>
                                                Đăng ký
                                            </button>
                                        </ng-template>
                                    </nz-form-control>
                                </nz-form-item>
                            </form>
                        </div>
                        <div class="social">
                            <a target="_blank">
                                <i nz-icon nzType="facebook" nzTheme="outline"></i>
                            </a>
                            <a target="_blank">
                                <i nz-icon nzType="youtube" nzTheme="outline"></i>
                            </a>
                            <a>
                                <i nz-icon nzType="mail" nzTheme="outline"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <!-- <p>{{website.Copyright}}</p> -->
            </div>
        </div>
    </footer>
    <nz-back-top></nz-back-top>
</div>