<ul class="side-nav-menu scrollable">
    <li class="nav-item dropdown" *ngFor="let item of navItems">
        <a class="dropdown-toggle" href="javascript:void(0);" [routerLink]="item.url">
            <span class="icon-holder">
                <i class="anticon" [class]="item.icon"></i>
            </span>
            <span class="title">{{item.title}}</span>
            <span class="arrow" *ngIf="item.children">
                <i class="arrow-icon"></i>
            </span>
        </a>
        <ul class="dropdown-menu" *ngIf="item.children">
            <app-nav-menu *ngIf="item.children" [navItems]="item.children"></app-nav-menu>
        </ul>
    </li>

</ul>