<div class="m-t-15">
    <div class="row" style="margin-left: 0;">
        <div clas="col-sm-12 col-md-6">
            <div>
                <label class="d-flex align-items-center">
                            Show
                            <select class="form-control-sm form-control custom-select custom-select-sm select-style ml-2 mt-3 mr-2" 
                            [(ngModel)]='numberPagging'
                            (ngModelChange)="onChange($event)"
                            >
                                <option *ngFor="let number1 of Options.paggingNumber" [value]="number1">{{number1}}</option>
                            </select>
                            entries
                        </label>
            </div>


        </div>
        <div clas="col-sm-12 col-md-6" style="margin-left: auto;" *ngIf="Options.searchField">
            <div class="text-right">
                <label class="d-flex align-items-center">
                            Search
                            <input type="text " placeholder="Search" class="form-control form-control-sm ml-2 mt-3 mr-2" (input)="handleSearchField($event)"/>
                        </label>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table id="data-table" class="table">
            <thead>
                <tr role="row">
                    <th *ngIf="Options.selectAll" class="sorting_asc" tabindex="0" rowspan="1" colspan="1" style="width: 78.4062px;">
                        <div class="checkbox">
                            <input id="checkAll" type="checkbox">
                            <label for="checkAll" class="m-b-0"></label>
                        </div>
                    </th>
                    <th *ngFor="let item1 of Headers">{{item1}}</th>



                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of this.dataTables" role="row">
                    <td *ngIf="Options.selectAll" class="checkbox-style-header" class="sorting_asc" tabindex="0" rowspan="1" colspan="1" style="width: 78.4062px;">
                        <div class="checkbox">
                            <input [id]="data.id+'_id'" type="checkbox" (click)="selectRowTable(data) ">
                            <label [for]="data.id+'_id'" class="m-b-0 "></label>
                        </div>
                    </td>
                    <td *ngFor="let keyItem of data | keyvalue: originalOrder " (click)="selectRowTable(data) ">
                        {{keyItem.value}}
                      
                    </td>

                </tr>

            </tbody>
        </table>

    </div>
</div>
<div class="row col-sm-12 col-md-12 ">
    <div class="col-sm-12 col-md-5 mt-2 ">
        <div>Showing 1 to {{numberPagging}} of {{DataTables.length}} entries</div>
    </div>

    <!-- pagging -->
    <div class="col-sm-12 col-md-7 ">
        <ul class="pagination ">
            <li class="paginate_button page-item previous " id="data-table_previous " (click)="haddlePaddingPrevious($event) " [ngClass]="{disabled: showBtnPrevious} ">
                <a class="page-link " onclick="return false ">Previous</a></li>
            <li class="paginate_button page-item " *ngFor="let item of numberPaggingShow ; let i=index " [ngClass]="{active: isActive(i+1)} " (click)="haddlePadding(i+1) ">
                <a class="page-link " onclick="return false ">{{i + 1}}</a></li>
            <li class="paginate_button page-item next " id="data-table_next " [ngClass]="{disabled: showBtnNext} " [style.pointer-events-none]="showBtnNext " (click)="haddlePaddingNext($event) ">
                <a class="page-link " onclick="return false ">Next</a></li>
        </ul>
    </div>
</div>