/* .label-style {
    text-align: left !important;
    font-weight: normal !important;
    white-space: nowrap !important;
    display: inline-block !important;
} */

.select-style {
    width: auto;
    display: block;
}

.d-fle-style {
    display: flex;
    align-items: center;
    justify-items: center;
}

.float-right-custom {
    margin-left: auto;
    order: 2;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

div ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
}

#data-table .checkbox-style-header {
    display: flex;
    width: 40px;
    border-bottom: none !important;
}

#data-table .pointer-events-none {
    pointer-events: none !important;
    cursor: not-allowed !important;
}