<div>
  <div class="box-auth" style="max-width: 500px;">
      <div>
          <h4>Đăng ký tài khoản</h4>
      </div>
      <div>
          <div class="mg-t-md">
              <ng-container>
                  <div >
                      <div nz-row>
                          <div nz-col nzSpan="20" nzOffset="2">
                              <form nz-form [formGroup]="registerForm" class="login-form" (ngSubmit)="onSubmit()">

                                  <div class="mg-b">
                                      <nz-form-item>
                                          <nz-form-control nzErrorTip="Không được để trống!">
                                              <nz-input-group nzPrefixIcon="user">
                                                  <input type="text" nz-input formControlName="fullName"
                                                      placeholder="Họ tên" />
                                              </nz-input-group>
                                          </nz-form-control>
                                      </nz-form-item>
                                  </div>
                                  <div class="mg-b">
                                      <nz-form-item>
                                          <nz-form-control>
                                              <nz-input-group nzPrefixIcon="mail">
                                                  <input type="text" nz-input formControlName="email"
                                                      placeholder="Email" />
                                              </nz-input-group>
                                          </nz-form-control>
                                      </nz-form-item>
                                  </div>
                                  <div class="mg-b">
                                      <nz-form-item>
                                          <nz-form-control nzErrorTip="Không được để trống!">
                                              <nz-input-group nzPrefixIcon="user">
                                                  <input type="text" nz-input formControlName="userName"
                                                      placeholder="Tài khoản" />
                                              </nz-input-group>
                                          </nz-form-control>
                                      </nz-form-item>
                                  </div>
                                  <div class="mg-b">
                                      <nz-form-item>
                                          <nz-form-control nzErrorTip="Không được để trống!">
                                              <nz-input-group nzPrefixIcon="phone">
                                                  <input type="text" nz-input formControlName="phone"
                                                      placeholder="Số điện thoại" />
                                              </nz-input-group>
                                          </nz-form-control>
                                      </nz-form-item>
                                  </div>
                                  <div class="mg-b">
                                      <nz-form-item>
                                          <nz-form-control nzErrorTip="Không được để trống!">
                                              <nz-input-group nzPrefixIcon="ellipsis">
                                                  <input type="text" nz-input formControlName="address"
                                                      placeholder="Địa chỉ" />
                                              </nz-input-group>
                                          </nz-form-control>
                                      </nz-form-item>
                                  </div>
                                  <div class="mg-b">
                                      <nz-form-item>
                                          <nz-form-control nzErrorTip="Không được để trống!">
                                              <nz-input-group nzPrefixIcon="lock">
                                                  <input type="password" nz-input formControlName="password"
                                                      placeholder="Mật khẩu" />
                                              </nz-input-group>
                                          </nz-form-control>
                                      </nz-form-item>
                                  </div>
                                  <div class="text-center mg-b">
                                      <button type="submit" nz-button nzType="primary">
                                          Đăng ký
                                      </button>
                                  </div>
                                  <div>
                                      <a routerLink="/dang-nhap">
                                          <i nz-icon nzType="left" nzTheme="outline"></i>
                                          Quay lại đăng nhập
                                      </a>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </ng-container>

          </div>
      </div>
  </div>
</div>
