<div class="main-content">
    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
                <span class="breadcrumb-item active">Danh sách khác hàng</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row m-b-30">
                <div class="col-lg-8">
                    <div class="d-md-flex">
                        <div class="m-b-10">
                            <select class="custom-select" style="min-width: 180px;">
                                <option selected>Status</option>
                                <option value="all">All</option>
                                <option value="approved">Approved</option>
                                <option value="pending">Pending</option>
                                <option value="rejected">Rejected</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-right">
                    <button class="btn btn-primary">
                        <i class="anticon anticon-file-excel m-r-5"></i>
                        <span>Export</span>
                    </button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                            <th>Khách hàng</th>
                            <th>Tài khoản</th>
                            <th>Địa chỉ</th>
                            <th>Hạng</th>
                            <th style="text-align:center">Cập nhật</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataTables">
                          
                            <td>
                                <div class="d-flex align-items-center">
                                    <h6 class="m-b-0">{{item.fullName}}</h6>
                                </div>
                            </td>
                            <td>{{item.userName}}</td>
                            <td>{{item.address}}</td>
                            <td>{{item.customerRank}}</td>    
                            <td  class="text-center">
                                <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                    <i  class="anticon anticon-edit"></i>
                                </button>
                               
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>